* {
  box-sizing: border-box;
}

*:hover, *:hover * {
  transition: 0.2s linear;
}

p {
  margin: 0;
}

html, body {
  width: 100vw;
  min-height: 100vh;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  font-family: monospace;
}

#inDevelopment {
  padding: 0.5em;
  text-align: center;
  font-size: 1.4em;
  color: rgb(255, 255, 255);
  background-color: rgba(255, 0, 0, 0.6);
}

header, footer {
  padding: 0.6em 1em;
}

header {
  border-bottom: 2px solid rgb(50, 50, 50);
}

.header-logo {
  display: block;
  height: 3em;
  max-width: 100%;
}

main {
  flex-grow: 1;
  position: relative;
  display: flex;
}

.sidebar {
  display: flex;
  flex-direction: row;
  position: absolute;
  top: 0;
  left: 0;


  height: 100%;

  background-color: rgb(255, 255, 255);
  border-right: 2px solid rgb(50, 50, 50);
  z-index: 99;
}

.sidebar-inner {
  min-width: 100px;
  max-width: 100%;
  padding: 1em 0;
  padding-left: 1em;
}

.side-container {
  padding: 1em;
  border: 2px solid rgb(50, 50, 50);
  margin-bottom: 1em;
}

.side-container-title {
  margin-bottom: 0.25em;
  padding-bottom: 0.25em;
  text-align: center;
  font-size: 1.8em;
  font-weight: 600;
  border-bottom: 2px solid rgb(50, 50, 50);
}

.side-container-content {

}

.nav-section {
  margin: 0.75em 0;
  justify-content: left;
  font-size: 1.5em;
}

.nav-section-title {
  margin: 0.5em 0;
}

/* .nav-section-title:first-child::after {
  content: "";
}

.nav-section-title::after {
  content: ":";
} */

.nav-section-list {
  margin: 0;
  margin-left: 1em;
}

.nav-section-list-item {

}

.sidebar-toggle-wrapper {
  padding: 1em;
}

.sidebar-toggle {
  width: 1.5em;
}

.sidebar-toggle-wrapper:hover {
  cursor: pointer;
}

.page {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  padding: 1em;
  /* overflow: hidden; */
}

.error-message {
  align-self: center;
  margin-bottom: 1em;
  padding: 0.8em;
  font-size: 1.2em;
  color: rgb(255, 255, 255);
  background-color: rgba(255, 0, 0, 0.6);
}

.page-title {
  display: inline;
  margin-bottom: 0.5em;
  font-size: 2em;
}

.open-in-new-tab-button {
  align-self: end;
  font-size: 1.2em;
}

.page-iframe {
  flex-grow: 1;
  margin-top: 1em;
  border: 0;
}

footer {
  background-color: rgb(0, 0, 0);
}

.copy {
  font-size: 1.5em;
  color: rgb(255, 255, 255);
}

@media all and (max-width: 575px) {
 html {
  font-size: 11px;
 }
}